## LOAD THE NECESSARY LIBRARIES

In [276]:
import pandas as pd
import json
from google.colab import drive

## MOUNT THE GOOGLE DRIVE IN COLAB

In [277]:
drive.mount('/content/drive/',force_remount=True)

Mounted at /content/drive/

## EXTRACT THE DATA FROM THE DRIVE AND TRANSFORM IN STRUCTURED DATA

In [278]:
## LOAD THE CSV FILE

profit_loss = pd.read_csv('/content/drive/MyDrive/ETL Pune/day 4 case study data/SRTU_profit_loss.csv')

In [279]:
profit_loss.head(2)

,S. No.,Name of State Road Transport Undertaking (SRTU),Total Revenue (Rs. Lakh) - 2016-17,Total Revenue (Rs. Lakh) - 2015-16,Total Cost (Rs. Lakh) - 2016-17,Total Cost (Rs. Lakh) - 2015-16,Net Profit/Loss (Rs. Lakh) - 2016-17,Net Profit/Loss (Rs. Lakh) - 2015-16,Profit before Tax (Rs. Lakh) - 2016-17,Profit before Tax (Rs. Lakh) - 2015-16
0,1.0,Andhra Pradesh SRTC,525046.15,505851.96,495154.61,501957.08,29891.54,3894.88,71262.85,27243.76
1,2.0,Assam STC,11950.46,17261.42,18636.11,23791.96,-6685.65,-6530.54,-6590.30,-6438.59

In [280]:
profit_loss.columns

Index(['S. No.', 'Name of State Road Transport Undertaking (SRTU)',
       'Total Revenue (Rs. Lakh) - 2016-17',
       'Total Revenue (Rs. Lakh) - 2015-16', 'Total Cost (Rs. Lakh) - 2016-17',
       'Total Cost (Rs. Lakh) - 2015-16',
       'Net Profit/Loss (Rs. Lakh) - 2016-17',
       'Net Profit/Loss (Rs. Lakh) - 2015-16',
       'Profit before Tax (Rs. Lakh) - 2016-17',
       'Profit before Tax (Rs. Lakh) - 2015-16'],
      dtype='object')

In [281]:
profit_loss = profit_loss[['Name of State Road Transport Undertaking (SRTU)','Total Revenue (Rs. Lakh) - 2016-17','Net Profit/Loss (Rs. Lakh) - 2016-17','Profit before Tax (Rs. Lakh) - 2016-17']]

In [282]:
profit_loss.head(2)

,Name of State Road Transport Undertaking (SRTU),Total Revenue (Rs. Lakh) - 2016-17,Net Profit/Loss (Rs. Lakh) - 2016-17,Profit before Tax (Rs. Lakh) - 2016-17
0,Andhra Pradesh SRTC,525046.15,29891.54,71262.85
1,Assam STC,11950.46,-6685.65,-6590.30

In [283]:
## LOAD DATA FROM JSON

with open('/content/drive/MyDrive/ETL Pune/day 4 case study data/SRTU_physical.json') as file:
  data = json.load(file)

In [284]:
columns = pd.DataFrame(data['fields'])['label']

In [285]:
physical = pd.DataFrame(data['data'],columns=columns)

In [286]:
physical.head(2)

label,S. No.,Name of State Road Transport Undertaking (SRTU),Average Fleet Held (Number) - 2016-17,Average Fleet Held (Number) - 2015-16,Average Fleet Operated (Number) - 2016-17,Average Fleet Operated (Number) - 2015-16,Fleet Utilisation (%) - 2016-17,Fleet Utilisation (%) - 2015-16,Avg Age of Fleet (Years) - 2016-17,Avg Age of Fleet (Years) - 2015-16,...,Passenger Kilometres Offered (Lakh) - 2016-17,Passenger Kilometres Offered (Lakh) - 2015-16,Passenger KMS Performed (Lakh) - 2016-17,Passenger KMS Performed (Lakh) - 2015-16,Occupancy Ratio (%) - 2016-17,Occupancy Ratio (%) - 2015-16,Passengers Carried (Lakh) - 2016-17,Passengers Carried (Lakh) - 2015-16,Passengers carried per Bus/Day (Number) - 2016-17,Passengers carried per Bus/Day (Number) - 2015-16
0,1,Andhra Pradesh SRTC,12072,12012,12031,11931,99.66,99.33,5.46,7.73,...,791406.4,777454.37,538552.05,516978.85,68.05,66.5,24017,22977.48,545.06,522.64
1,2,Assam STC,1067,1090,614,668,57.54,61.28,5.35,4.4,...,8807.21,9943.53,6564.01,7437.69,74.53,74.8,173.94,207.95,44.66,52.13

In [287]:
physical.columns

Index(['S. No.', 'Name of State Road Transport Undertaking (SRTU)',
       'Average Fleet Held (Number) - 2016-17',
       'Average Fleet Held (Number) - 2015-16',
       'Average Fleet Operated (Number) - 2016-17',
       'Average Fleet Operated (Number) - 2015-16',
       'Fleet Utilisation (%) - 2016-17', 'Fleet Utilisation (%) - 2015-16',
       'Avg Age of Fleet (Years) - 2016-17',
       'Avg Age of Fleet (Years) - 2015-16',
       'Over aged vehicles (%) - 2016-17', 'Over aged vehicles (%) - 2015-16',
       'Fuel Efficiency (Km per Kg of CNG) - 2016-17',
       'Fuel Efficiency (Km per Kg of CNG) - 2015-16',
       'Fuel Efficiency (Km per litre of HSD) - 2016-17',
       'Fuel Efficiency (Km per litre of HSD) - 2015-16',
       'Effective Kilometres (Lakh) [Revenue Earning Kilometers (Lakh)] - 2016-17',
       'Effective Kilometres (Lakh) [ Revenue Earning Kilometers (Lakh)] - 2015-16',
       'Staff Strength (Number) - 2016-17',
       'Staff Strength (Number) - 2015-16', 'Staff/Bus Ratio - 2016-17',
       'Staff/Bus Ratio - 2015-16',
       'Staff Productivity (Kms/Staff/Day) - 2016-17',
       'Staff Productivity (Kms/Staff/Day) - 2015-16',
       'Vehicle Productivity (Kms/Bus/Day) - 2016-17',
       'Vehicle Productivity (Kms/Bus/Day) - 2015-16',
       'Passenger Kilometres Offered (Lakh) - 2016-17',
       'Passenger Kilometres Offered (Lakh) - 2015-16',
       'Passenger KMS Performed (Lakh) - 2016-17',
       'Passenger KMS Performed (Lakh) - 2015-16',
       'Occupancy Ratio (%) - 2016-17', 'Occupancy Ratio (%) - 2015-16',
       'Passengers Carried (Lakh) - 2016-17',
       'Passengers Carried (Lakh) - 2015-16',
       'Passengers carried per Bus/Day (Number) - 2016-17',
       'Passengers carried per Bus/Day (Number) - 2015-16'],
      dtype='object', name='label')

In [288]:
physical = physical[['Name of State Road Transport Undertaking (SRTU)',
                     'Average Fleet Held (Number) - 2016-17','Average Fleet Operated (Number) - 2016-17', 'Avg Age of Fleet (Years) - 2016-17',
          'Over aged vehicles (%) - 2016-17','Staff/Bus Ratio - 2016-17','Vehicle Productivity (Kms/Bus/Day) - 2016-17',
          'Passengers carried per Bus/Day (Number) - 2016-17']]

In [289]:
### LOAD THE DATA FROM XML

financial = pd.read_xml('/content/drive/MyDrive/ETL Pune/day 4 case study data/SRTU_financial.xml')

In [290]:
financial.columns

list_cols = ['NAME_OF_STATE_ROAD_TRANSPORT_UNDERTAKING_SRTU',
    'TRAFFIC_REVENUE_LAKH_-_TOTAL_OF_TRAFFIC_EARNINGS_-_2016-17',
             'NON-TRAFFIC_REVENUE_LAKH_-_OTHER_RECEIPTS_-_2016-17',
              'SUBSIDIES_REIMBURSEMENTS_LAKH_-_TOTAL_SUBSIDIESREIMBURSEMENTS_-_2016-17',
             'TOTAL_REVEUNUE_IN_LAKH_-_2016-17',
             'TOTAL_COST_IN_LAKH_-_2016-17']

In [291]:
financial = financial[list_cols]

### MERGE ALL THE TABLES

In [292]:
# Correct the city names

In [293]:
profit_loss.shape

(63, 4)

In [294]:
financial.shape

(63, 6)

In [295]:
physical.shape

(62, 8)

In [296]:
s1 = set(profit_loss['Name of State Road Transport Undertaking (SRTU)'].unique())

In [297]:
s2 = set(financial['NAME_OF_STATE_ROAD_TRANSPORT_UNDERTAKING_SRTU'].unique())

In [298]:
s1 - s2

{'Ahmedabad MTC ',
 'Karnataka SRTC ',
 'Kolahpur MTU',
 'Pune Mahamandal ',
 'Sikkim NT '}

In [299]:
s2 - s1

{'Ahmedabad MTC',
 'Karnataka SRTC',
 'Kolhapur MTU',
 'Pune Mahamandal',
 'Sikkim NT'}

In [300]:
dic_name = {'Ahmedabad MTC ':'Ahmedabad MTC','Karnataka SRTC ':'Karnataka SRTC','Kolahpur MTU':'Kolhapur MTU','Pune Mahamandal ':'Pune Mahamandal',
            'Sikkim NT ':'Sikkim NT'}

In [301]:
profit_loss['Name of State Road Transport Undertaking (SRTU)'].replace(dic_name,inplace=True)

In [302]:
final_data = profit_loss.merge(financial,left_on='Name of State Road Transport Undertaking (SRTU)',
                  right_on = 'NAME_OF_STATE_ROAD_TRANSPORT_UNDERTAKING_SRTU',how='inner')

In [303]:
del final_data['NAME_OF_STATE_ROAD_TRANSPORT_UNDERTAKING_SRTU']

In [304]:
final_data.columns

Index(['Name of State Road Transport Undertaking (SRTU)',
       'Total Revenue (Rs. Lakh) - 2016-17',
       'Net Profit/Loss (Rs. Lakh) - 2016-17',
       'Profit before Tax (Rs. Lakh) - 2016-17',
       'TRAFFIC_REVENUE_LAKH_-_TOTAL_OF_TRAFFIC_EARNINGS_-_2016-17',
       'NON-TRAFFIC_REVENUE_LAKH_-_OTHER_RECEIPTS_-_2016-17',
       'SUBSIDIES_REIMBURSEMENTS_LAKH_-_TOTAL_SUBSIDIESREIMBURSEMENTS_-_2016-17',
       'TOTAL_REVEUNUE_IN_LAKH_-_2016-17', 'TOTAL_COST_IN_LAKH_-_2016-17'],
      dtype='object')

In [305]:
s1 = set(final_data['Name of State Road Transport Undertaking (SRTU)'].unique())

In [306]:
s2 = set(physical['Name of State Road Transport Undertaking (SRTU)'].unique())

In [307]:
s1 - s2

{'Ahmedabad MTC',
 'Karnataka SRTC',
 'MEERUT CIY TSL',
 'Pune Mahamandal',
 'Sikkim NT',
 'Total (Reporting SRTUs)',
 'Uttar Pradesh SRTC (P)'}

In [308]:
s2 - s1

{'Ahmedabad MTC ',
 'Karnataka SRTC ',
 'MEERUT CITY TSL',
 'Pune Mahamandal ',
 'Sikkim NT ',
 'Uttar Pradesh SRTC '}

In [309]:
dic_name = {'MEERUT CIY TSL':'MEERUT CITY TSL','Uttar Pradesh SRTC (P)':'Uttar Pradesh SRTC ',
            'Ahmedabad MTC':'Ahmedabad MTC ','Pune Mahamandal':'Pune Mahamandal ','Sikkim NT':'Sikkim NT ','Karnataka SRTC':'Karnataka SRTC '}

In [310]:
final_data['Name of State Road Transport Undertaking (SRTU)'] = final_data['Name of State Road Transport Undertaking (SRTU)'].replace(dic_name)

In [311]:
final_data = final_data.merge(physical,on='Name of State Road Transport Undertaking (SRTU)',how='inner')

In [312]:
final_data

,Name of State Road Transport Undertaking (SRTU),Total Revenue (Rs. Lakh) - 2016-17,Net Profit/Loss (Rs. Lakh) - 2016-17,Profit before Tax (Rs. Lakh) - 2016-17,TRAFFIC_REVENUE_LAKH_-_TOTAL_OF_TRAFFIC_EARNINGS_-_2016-17,NON-TRAFFIC_REVENUE_LAKH_-_OTHER_RECEIPTS_-_2016-17,SUBSIDIES_REIMBURSEMENTS_LAKH_-_TOTAL_SUBSIDIESREIMBURSEMENTS_-_2016-17,TOTAL_REVEUNUE_IN_LAKH_-_2016-17,TOTAL_COST_IN_LAKH_-_2016-17,Average Fleet Held (Number) - 2016-17,Average Fleet Operated (Number) - 2016-17,Avg Age of Fleet (Years) - 2016-17,Over aged vehicles (%) - 2016-17,Staff/Bus Ratio - 2016-17,Vehicle Productivity (Kms/Bus/Day) - 2016-17,Passengers carried per Bus/Day (Number) - 2016-17
0,Andhra Pradesh SRTC,525046.15,29891.54,71262.85,444775.96,24347.87,50272.00,525046.15,495154.61,12072,12031,5.46,13.29,4.69,376.29,545.06
1,Assam STC,11950.46,-6685.65,-6590.30,6656.19,2236.22,3000.00,11950.46,18636.11,1067,614,5.35,36.4,3.35,68.53,44.66
2,Bangalore Metropolitan TC,210610.41,-26091.01,-16212.34,177047.15,10240.83,21095.38,210610.41,236701.42,6270,5579,7.64,22.7,5.47,183.76,769.57
3,Bihar SRTC,6132.28,779.56,884.27,3969.68,2162.60,0.00,6132.28,5352.72,223,94,13.85,100,2.35,88.62,30.59
4,Calcutta STC,35311.19,-34087.39,-34087.39,10932.01,0.00,23654.44,35311.19,69398.58,773,484,2.96,6.42,6.01,103.14,349.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,DELHI INTEGRATED MTS,30890.00,30890.00,30890.00,27837.00,0.00,2609.00,30890.00,0.00,1651,1362,NA,NA,NA,NA,621.06
58,Total Associate members,30908.73,30130.71,30282.45,27845.02,5.57,2614.09,30908.73,778.02,1668,1374,7.5,4,0.05,0,614.73
59,MEERUT CITY TSL,1774.33,-134.77,-87.05,1761.49,0.00,0.00,1774.33,1909.10,120,87,7,0,0.32,183.88,238.2
60,KANPUR CITY TSL,1311.44,816.35,880.52,1311.44,0.00,0.00,1311.44,495.09,270,158,7,NA,0.92,11.33,86.35
61,Total Special Purpose Vehicle,3085.77,681.58,793.47,3072.93,0.00,0.00,3085.77,2404.19,390,245,7,0,0.74,64.43,133.07

In [314]:
final_data.columns

Index(['Name of State Road Transport Undertaking (SRTU)',
       'Total Revenue (Rs. Lakh) - 2016-17',
       'Net Profit/Loss (Rs. Lakh) - 2016-17',
       'Profit before Tax (Rs. Lakh) - 2016-17',
       'TRAFFIC_REVENUE_LAKH_-_TOTAL_OF_TRAFFIC_EARNINGS_-_2016-17',
       'NON-TRAFFIC_REVENUE_LAKH_-_OTHER_RECEIPTS_-_2016-17',
       'SUBSIDIES_REIMBURSEMENTS_LAKH_-_TOTAL_SUBSIDIESREIMBURSEMENTS_-_2016-17',
       'TOTAL_REVEUNUE_IN_LAKH_-_2016-17', 'TOTAL_COST_IN_LAKH_-_2016-17',
       'Average Fleet Held (Number) - 2016-17',
       'Average Fleet Operated (Number) - 2016-17',
       'Avg Age of Fleet (Years) - 2016-17',
       'Over aged vehicles (%) - 2016-17', 'Staff/Bus Ratio - 2016-17',
       'Vehicle Productivity (Kms/Bus/Day) - 2016-17',
       'Passengers carried per Bus/Day (Number) - 2016-17'],
      dtype='object')